body{
	margin-top:70px;
	background-color: #2F5168;
}


a{
	color: #E04836;	
}


a:hover {
    color: #009900;
} 


h2{
	color: #F39D41;
	font-size:xx-large;
}

h3{
	color:black;
	font-size:large;	
}


h4{
	color: #E04836;	
}


h5{
	color: #5696BC;
	text-decoration: underline;
	font-size:medium
}


.jumbotron {
    margin-bottom: 0px;
    color: white;
}

li{
	list-style: none;
}


p{
	
	color:silver;
	font-size:16px;	
}

.mobilesOnly {visibility:hidden;}

#container{width:inherit;}
#left{float:left;width:inherit;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}

input[type=button], input[type=submit] {
   border-top: 1px solid #96d1f8;
   background: #c99732;
   background: -webkit-gradient(linear, left top, left bottom, from(#b8d43b), to(#c99732));
   background: -webkit-linear-gradient(top, #b8d43b, #c99732);
   background: -moz-linear-gradient(top, #b8d43b, #c99732);
   background: -ms-linear-gradient(top, #b8d43b, #c99732);
   background: -o-linear-gradient(top, #b8d43b, #c99732);
   padding: 6px 12px;
   color: #ffffff;
   font-size: 10px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }   
input[type=button]:hover input[type=submit]:hover {
   border-top-color: #e82719;
   background: #e82719;
   color: #ccc;
   }
   
input[type=button]:active input[type=submit]:active {
   border-top-color: #000000;
   background: #000000;
   }
   
