body{
	margin-top:70px;
	background-color: #2F5168;
}


a{
	color: #E04836;	
}


a:hover {
    color: #FFFFFF;
} 


h2{
	color: #F39D41;	
}


h4{
	color: #E04836;	
}


h5{
	color: #5696BC;
	text-decoration: underline;
}


.jumbotron{

	text-align: center;
}


li{
	list-style: none;
}
